build
eventSTEM.egg-info
buildTorch
build_MSVC
build_MSVC_2
build_GNU
WSLbuild
UNIXbuild
UNIXbuildTorch
data
Results
.vscode
.vs
imgui.ini
*.mib
*.png
*.out
*.zip
*.cu
opengl32.dll
ricom.log
m_list.py
RICOM
latex
fake_merlin.py
.DS_Store
docs/_static
docs/_templates
docs/docsC++/doxygen
__pycache__
*.cmake

/BuildTools/mcbuildTorch
/BuildTools/mcbuild
/BuildTools/include
/BuildTools/build_all_py
/docs/_build

GPRI.h
GPRI.cpp
GPRI.cu